
.fo-arrow-down:before { content: '\e800'; } /* '' */
.fo-arrow-up:before { content: '\e801'; } /* '' */
.fo-carret-down:before { content: '\e802'; } /* '' */
.fo-carret-up:before { content: '\e803'; } /* '' */
.fo-calendar:before { content: '\e804'; } /* '' */
.fo-gear:before { content: '\e805'; } /* '' */
.fo-grid:before { content: '\e806'; } /* '' */
.fo-list:before { content: '\e807'; } /* '' */
.fo-logo:before { content: '\e808'; } /* '' */
.fo-map:before { content: '\e809'; } /* '' */
.fo-plus:before { content: '\e80a'; } /* '' */
.fo-search:before { content: '\e80b'; } /* '' */
.fo-trash:before { content: '\e80c'; } /* '' */
.fo-angle-left:before { content: '\e80d'; } /* '' */
.fo-angle-right:before { content: '\e80e'; } /* '' */
.fo-eye-closed:before { content: '\e80f'; } /* '' */
.fo-product-round:before { content: '\e810'; } /* '' */
.fo-product-rectangular:before { content: '\e811'; } /* '' */
.fo-close:before { content: '\e812'; } /* '' */
.fo-warning:before { content: '\e813'; } /* '' */
.fo-doc:before { content: '\e814'; } /* '' */
.fo-message:before { content: '\e815'; } /* '' */
.fo-calculator:before { content: '\e816'; } /* '' */
.fo-eye-opened:before { content: '\e817'; } /* '' */
.fo-dot-3:before { content: '\e818'; } /* '' */
.fo-right:before { content: '\e819'; } /* '' */
.fo-left:before { content: '\e81a'; } /* '' */
.fo-ok:before { content: '\e81b'; } /* '' */
.fo-positions:before { content: '\e81c'; } /* '' */
.fo-delivery:before { content: '\e81d'; } /* '' */
.fo-download:before { content: '\e830'; } /* '' */
.fo-exit:before { content: '\e832'; } /* '' */
.fo-trash-1:before { content: '\e834'; } /* '' */
.fo-pencil:before { content: '\e835'; } /* '' */
.fo-spin5:before { content: '\e838'; } /* '' */
.fo-checkbox:before { content: '\e840'; } /* '' */